*{
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    width:100%;
    min-height: 70vh;
    
    display:grid;

}
div{
    place-self: center;
    animation: rise 3s ease-out infinite;
    font-size: 2em;
}
@keyframes rise {
    0%{
        font-size: 2em;
    }
    100%{
        font-size: 6em;
    }
}